{% extends 'layouts/base.html' %}
{% load static %}


{% block title %} Profile {% endblock title %}

{% block content %}
    {% csrf_token %}
    <div class="form-group">
        <div class="header pb-6 d-flex align-items-center"
             style="min-height: 500px; background-image: url({% static 'assets/img/theme/profile-cover.jpg' %}); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">
                            Hello {{ user.username }}
                        </h1>
                        <p class="text-white mt-0 mb-5">This is your profile page, you can update your profile information by clicking the Edit profile below</p>
                        <a href="{% url 'edit_profile' %}">
                            <button class="btn btn-neutral">Edit profile</button>
                        <a/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-xl-4 order-xl-2">
                    <div class="card card-profile">
                        <img src="{% static 'assets/img/theme/img-1-1000x600.jpg' %}"
                             alt="Image placeholder" class="card-img-top">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <img src="{% static 'assets/img/theme/avatar.jpg' %}"
                                         class="rounded-circle" style="border-color: #DFF4F4">
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            &nbsp;&nbsp;
                            <div class="text-center">
                                <h5 class="h3">
                                    {{ user.username }}
                                </h5>
                                <div class="h5 font-weight-300">
                                    {{ user.email }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">My profile </h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="heading-small text-muted mb-4">User information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label">First Name: </label>
                                        <p>{{user.first_name}}<p>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label">Last Name: </label>
                                        <p>{{user.last_name}}<p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="form-control-label">Username: </label>
                                        <p>{{user.username}}<p>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-control-label">Email address: </label>
                                        <p>{{user.email}}<p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4"/>
                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-4">Contact information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            <label class="form-control-label">Phone number: </label>
                                            <p>{{user.phone}}<p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-6">
                                            <label class="form-control-label">Address: </label>
                                            <p>{{user.address}}<p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
