{% extends 'layouts/base.html' %}
{% load static %}


{% block title %} Profile {% endblock title %}


<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    #map {
        width: 100%;
        height: 100vh;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div id="map"></div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>
    var map = new maplibregl.Map({
        container: 'map', // container id
        style: 'https://demotiles.maplibre.org/style.json', // style URL
        center: [0, 0], // starting position [lng, lat]
        zoom: 1 // starting zoom
    });
</script>
{% endblock javascripts %}